:root {
  --primary-bg-color: #282828;
  --secondary-bg-color: #2f2f2f;
  --tertiary-bg-color: #383838;

  --pure-white-color: #fff;

  --primary-content-color: #959a9e;
  --secondary-content-color: #fff;

  --black-color: #282828;
  --transparent-color: transparent;

  --primary-border-color: #2d2d2d;
  --secondary-border-color: #fff;
  --tertiary-border-color: #383838;
}

:root {
  --primary-color: #fff;
  --primary-gray-color: #959a9e;
  --secondary-color: #2f2f2f;
  --tertiary-color: #383838;
  --transparent-color: transparent;
  --partial-color: #00b376;
}
