#header {
  .container {
    padding-top: 2rem;
    .navbar {
    }
  }
}

#content {
  .container {
    .section {
      &--plan,
      &--blog {
        padding: 10rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5.2rem;
      }
    }
  }
}

#content {
  .section {
    padding: 5rem 0;

    &--course {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
    }
    &--single-course {
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

#footer {
  padding: 10rem 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    row-gap: 2.4rem;

    .main-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .bottom-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 2rem;
    }

    .footer-divider {
      border: 1px solid var(--primary-border-color);
    }
  }
}

@media (max-width: 48em) {
  // 768px / 16px = 48
  #content {
    .container {
      .hero-section {
        padding: 5rem 0;
      }

      .section {
        &--plan,
        &--blog {
          padding: 5rem 0;
        }
      }
    }
  }
  #footer {
    padding: 5rem 0;
  }
}
