.course-content {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: stretch;
  align-items: stretch;
  gap: 3.2rem;

  .course-filter {
    width: 28rem;
    background-color: var(--secondary-color);
    padding: 3.2rem;
    border: 4px solid var(--tertiary-color);
    border-radius: 1.6rem;
  }
  .course-archive {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 2.4rem;
    .course-action {
      background-color: var(--secondary-color);
      padding: 8px;
      border-radius: 8px;
      .course-result {
        font-size: 1.4rem;
        // text-transform: uppercase;
        color: var(--primary-color);
        font-family: 'Plus Jakarta Sans 600';
        font-weight: 600;
      }
      .course-toggle {
        .course-icon {
          color: var(--primary-color);
          font-size: 1.6rem;
          &--bars {
            display: none;
          }
          &--list {
            display: block;
          }
        }
      }
      .course-angle {
        .course-list,
        .course-grid {
          font-size: 1.2rem;
          text-transform: uppercase;
          color: var(--primary-color);
          font-family: 'Plus Jakarta Sans 700';
          font-weight: 700;
        }
        .course-list {
          display: none;
        }
        .course-grid {
          display: block;
        }
      }
    }
  }

  .course-archive {
    .course-action {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .course-labels {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        column-gap: 8px;

        .course-toggle,
        .course-angle {
          width: 4.2rem;
          height: 3.2rem;
          background-color: var(--tertiary-color);
          padding: 8px;
          border-radius: 4px;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          cursor: pointer;
        }
        .course-toggle {
        }
        .course-angle {
        }
      }
    }
  }
}

.course {
  &__list {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2.4rem;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr;
    // gap: 2.4rem;

    background-color: var(--secondary-color);

    border-radius: 1.2rem;
    overflow: hidden;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 1.2rem;

    padding: 2rem;
  }
  &__image {
    height: 100%;
    // width: 38rem;
  }
  &__meta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.2rem;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4px;
  }
  &__icon {
    font-size: 1rem;
    color: var(--partial-color);
  }
  &__text {
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans 600';
    font-weight: 600;
  }
  &__text,
  &__title,
  &__review,
  &__price {
    color: var(--primary-color);
  }
  &__title {
    font-size: 1.6rem;
    font-family: 'Plus Jakarta Sans 800';
    font-weight: 800;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
  }
  &__stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1px;
  }
  &__star {
    background-color: var(--partial-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 2px;

    font-size: 1.2rem;
    color: var(--primary-color);
  }
  &__review {
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans 600';
    font-weight: 600;
  }
  &__buy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.2rem;
  }
  &__atc {
    padding: 8px 1.6rem;
    background-color: var(--primary-color);

    font-size: 1.2rem;
    color: var(--tertiary-color);

    font-family: 'Plus Jakarta Sans 800';
    font-weight: 800;

    border-radius: 2rem;
  }
  &__price {
    font-size: 1.6rem;
    font-family: 'Plus Jakarta Sans 800';
    font-weight: 800;
  }
}

.panel-toggle:checked ~ .course-content .course-filter {
  display: none;
}
.panel-toggle:checked ~ .course-content {
  grid-template-columns: auto;
  gap: 0;
}

// .angle-toggle:checked
//   ~ .course-content
//   .course-archive
//   .course
//   .course__list
//   .course__item
//   .course__feature {
//   display: none;
// }

.panel-toggle,
.angle-toggle {
  display: none;
}

.angle-toggle:checked ~ .course-content .course-archive .course .course__list {
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(2, 1fr);

  grid-template-columns: repeat(auto-fit, minmax(52rem, 1fr));
}
.angle-toggle:checked
  ~ .course-content
  .course-archive
  .course
  .course__list
  .course__item {
  grid-template-columns: repeat(2, 1fr);
}
.angle-toggle:checked
  ~ .course-content
  .course-archive
  .course
  .course__list
  .course__item
  .course__content {
  // padding: 2.4rem 2.4rem 2.4rem 0;
}
.angle-toggle:checked
  ~ .course-content
  .course-archive
  .course
  .course__list
  .course__item
  .course__feature,
.course__image {
  width: 100%;
  // height: 100%;
}

.panel-toggle:checked
  ~ .course-content
  .course-archive
  .course-action
  .course-toggle
  .course-icon {
  &--bars {
    display: block;
  }
  &--list {
    display: none;
  }
}

.angle-toggle:checked
  ~ .course-content
  .course-archive
  .course-action
  .course-angle {
  .course-list {
    display: block;
  }
  .course-grid {
    display: none;
  }
}

@media (max-width: 48em) {
  // 768 / 16 = 48
  .course-content {
    grid-template-columns: 1fr;
    width: 100%;
    .course-filter {
      display: none;
    }
    .course-archive {
      .course-action {
        flex-direction: column;
        row-gap: 8px;
        align-items: flex-start;
        .course-result {
          order: 2;
        }
      }
    }
  }
}

@media (max-width: 72em) {
  // 1140 / 16 = 72
  .angle-toggle:checked
    ~ .course-content
    .course-archive
    .course
    .course__list {
    grid-template-columns: 1fr;
  }

  .angle-toggle:checked
    ~ .course-content
    .course-archive
    .course
    .course__list
    .course__item {
    grid-template-columns: 1fr;
  }

  .course-content {
    grid-template-columns: 1fr;
    width: 100%;
    .course-filter {
      display: none;
    }
    .course-archive {
      .course-action {
        justify-content: space-between;
        .course-result {
          order: 2;
        }
      }
    }
  }
}

/*
Asma:           6,000
lubna:          5,000
kamal Vai:      4,000
======================
Total:       = 15,000
*/
