.filter {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 2.4rem;
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 1.2rem;
  }
  &__title {
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans 600';
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 1.2rem;
  }
  &__text {
  }
  &__divider {
    width: 100%;
    height: 1px;
    background-color: var(--tertiary-color);
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 8px;
  }
  &__radio {
    display: none;
    &--all-skill {
      &:checked ~ .filter__skill--1 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--1 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--1 .filter__checkbox::after {
        display: block;
      }
    }
    &--uxui-design {
      &:checked ~ .filter__skill--2 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--2 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--2 .filter__checkbox::after {
        display: block;
      }
    }
    &--web-design {
      &:checked ~ .filter__skill--3 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--3 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--3 .filter__checkbox::after {
        display: block;
      }
    }
    &--javascript {
      &:checked ~ .filter__skill--4 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--4 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--4 .filter__checkbox::after {
        display: block;
      }
    }

    // Enrollment
    &--free {
      &:checked ~ .filter__skill--1 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--1 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--1 .filter__checkbox::after {
        display: block;
      }
    }
    &--premium {
      &:checked ~ .filter__skill--2 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--2 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--2 .filter__checkbox::after {
        display: block;
      }
    }
    &--both {
      &:checked ~ .filter__skill--3 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--3 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--3 .filter__checkbox::after {
        display: block;
      }
    }

    // Skill Level
    &--all-level {
      &:checked ~ .filter__skill--4 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--4 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--4 .filter__checkbox::after {
        display: block;
      }
    }
    &--beginner {
      &:checked ~ .filter__skill--3 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--3 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--3 .filter__checkbox::after {
        display: block;
      }
    }
    &--intermediate {
      &:checked ~ .filter__skill--2 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--2 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--2 .filter__checkbox::after {
        display: block;
      }
    }
    &--expert {
      &:checked ~ .filter__skill--1 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--1 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--1 .filter__checkbox::after {
        display: block;
      }
    }

    // Ratings
    &--all {
      &:checked ~ .filter__skill--6 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--6 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--6 .filter__checkbox::after {
        display: block;
      }
    }
    &--five {
      &:checked ~ .filter__skill--5 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--5 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--5 .filter__checkbox::after {
        display: block;
      }
    }
    &--four {
      &:checked ~ .filter__skill--4 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--4 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--4 .filter__checkbox::after {
        display: block;
      }
    }
    &--three {
      &:checked ~ .filter__skill--3 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--3 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--3 .filter__checkbox::after {
        display: block;
      }
    }
    &--two {
      &:checked ~ .filter__skill--2 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--2 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--2 .filter__checkbox::after {
        display: block;
      }
    }
    &--one {
      &:checked ~ .filter__skill--1 .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      &:checked ~ .filter__skill--1 .filter__label {
        color: var(--primary-color);
      }
      &:checked ~ .filter__skill--1 .filter__checkbox::after {
        display: block;
      }
    }
  }
  &__skill {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;

    &:hover {
      .filter__checkbox {
        border: 2px solid var(--primary-color);
      }
      .filter__checkbox::after {
        display: block;
        background-color: var(--primary-color);
      }
      .filter__label {
        color: var(--primary-color);
      }
    }
  }
  &__checkbox {
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid var(--primary-gray-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;

    transition: all 0.2s ease-in-out;

    &::after {
      content: '';
      clear: both;

      width: 6px;
      height: 6px;
      background-color: var(--primary-color);

      position: absolute;
      top: 2px;
      left: 2px;

      display: none;

      transition: all 0.2s ease-in-out;
    }
  }
  &__label {
    font-size: 1.4rem;
    font-family: 'Plus Jakarta Sans 400';
    font-weight: 400;
    color: var(--primary-gray-color);

    transition: all 0.2s ease-in-out;
  }
}
