.identity {
  width: 32rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 2rem;

  &__brand {
  }
  &__link {
    &:link,
    &:visited {
    }
    &:hover,
    &:active {
    }
  }
  &__logo {
    width: 10rem;
  }
  &__about {
    font-size: 1.4rem;
    color: var(--primary-content-color);
    font-family: 'Plus Jakarta Sans 400', sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 8px;
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
  }
  &__icon,
  &__text {
    color: var(--primary-content-color);
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
  }
  &__icon {
  }
  &__text {
  }
}

.v-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
  row-gap: 2.4rem;
  &--contact {
    width: 28rem;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: flex-start;
    row-gap: 1.2rem;
  }
  &__title {
    font-size: 1.6rem;
    color: var(--secondary-content-color);
    font-family: 'Plus Jakarta Sans 600', sans-serif;
    font-weight: 600;
  }
  &__divider {
    width: 3rem;
    border: 2px solid var(--secondary-border-color);
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 8px;
  }
  &__item {
  }
  &__link {
    &:link,
    &:visited {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      column-gap: 1.6rem;
    }
    &:hover,
    &:active {
      .v-menu__icon,
      .v-menu__text {
        color: var(--secondary-content-color);
      }
    }
  }
  &__icon,
  &__text {
    color: var(--primary-content-color);
    transition: all 0.2s ease-in-out;
  }
  &__icon {
    font-size: 1.6rem;
  }
  &__text {
    font-size: 1.4rem;
    font-family: 'Plus Jakarta Sans 400', sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
}

.copyright {
  &__text {
    font-size: 1.4rem;
    color: var(--primary-content-color);
  }
  &__link {
    &:link,
    &:visited {
      font-size: 1.4rem;
      color: var(--primary-content-color);
      transition: all 0.2s ease-in-out;
    }
    &:hover,
    &:active {
      color: var(--secondary-content-color);
      text-decoration: underline;
    }
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;

  &__link {
    &:link,
    &:visited {
      background-color: var(--secondary-bg-color);
      padding: 1.2rem 2rem;
      border: 2px solid var(--tertiary-border-color);
      border-radius: 8px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 1.2rem;
    }
    &:hover,
    &:active {
      .btn__icon,
      .btn__content .btn__title,
      .btn__content .btn__subtitle {
        color: var(--secondary-content-color);
      }
    }
  }
  &__icon {
    color: var(--primary-content-color);
    font-size: 1.6rem;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--tertiary-bg-color);
    border-radius: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 0;
  }
  &__icon,
  &__title,
  &__subtitle {
    transition: all 0.2s ease-in-out;
  }

  &__title,
  &__subtitle {
    color: var(--primary-content-color);
  }
  &__title {
    font-family: 'Plus Jakarta Sans 600', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
  }
  &__subtitle {
    font-family: 'Plus Jakarta Sans 400', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.f-social {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
  }
  &__item {
  }
  &__link {
    &:link,
    &:visited {
      width: 2.4rem;
      height: 2.4rem;
      background-color: var(--tertiary-bg-color);
      border-radius: 50%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &:hover,
    &:active {
      .f-social__icon {
        color: var(--secondary-content-color);
      }
    }
  }
  &__icon {
    font-size: 1.2rem;
    color: var(--primary-content-color);
    transition: all 0.2s ease-in-out;
  }
}

.h-menu {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4.2rem;
  }
  &__item {
  }
  &__link {
    &:link,
    &:visited {
      font-size: 1.4rem;
      font-family: 'Plus Jakarta Sans 400', sans-serif;
      font-weight: 400;
      line-height: 1.6;
      color: var(--primary-content-color);
      transition: all 0.2s ease-in-out;
    }
    &:hover,
    &:active {
      color: var(--secondary-content-color);
      text-decoration: underline;
    }
  }
}

@media (max-width: 80em) {
  // 1280px / 16px = 80
  #footer {
    .container {
      .main-footer {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 3.2rem;
        &:first-child {
          grid-column: 1 / span 3;
          grid-row: 1 / span 1;
        }
        &:nth-child(1) {
          grid-column: 1 / span 1;
          grid-row: 2 / span 1;
        }
        &:nth-child(2) {
          grid-column: 2 / span 1;
          grid-row: 2 / span 1;
        }
        &:nth-child(3) {
          grid-column: 3 / span 1;
          grid-row: 2 / span 1;
        }
        &:last-child {
          grid-column: 3 / span 3;
          grid-row: 1 / span 1;
        }

        .identity {
          grid-column: 1 / span 3;
          grid-row: 1 / span 1;
        }
      }
    }
  }
}

@media (max-width: 48em) {
  // 768px / 16px = 48
  #footer {
    .container {
      .main-footer {
        display: flex;
        flex-direction: column;
        .identity {
          width: 100%;
        }
        .v-menu {
          &--contact {
            width: 100%;
          }
        }
      }
      .bottom-footer {
        .btn {
          flex-wrap: wrap;
          gap: 1.2rem;
          &__link {
            &:link,
            &:visited {
              width: 20rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 34em) {
  // 544px / 16px = 34
  #footer {
    .container {
      .bottom-footer {
        .btn {
          &__link {
            &:link,
            &:visited {
              width: 100%;
              justify-content: flex-start;
            }
          }
        }
        .copyright {
          text-align: center;
        }
      }
    }
  }
}
