.navbar {
  background-color: var(--secondary-bg-color);
  padding: 1.6rem 2rem;
  border-radius: 50rem;
  border: 4px solid var(--tertiary-border-color);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // Brand logo
  .brand {
    &--offcanvas {
      display: none;
    }
    &__link {
      &:link,
      &:visited {
      }
      &:link,
      &:visited {
      }
    }
    &__logo {
      width: 10rem;
    }
  }

  // Hamburger
  .hamburger-checkbox,
  .hamburger-label {
    display: none;
  }
  .hamburger-label {
    width: 3.6rem;
    height: 2rem;

    cursor: pointer;

    .hamburger-content {
      width: 3.6rem;
      height: 2rem;
      margin-top: 8px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      position: relative;

      &::before,
      &::after {
        content: '';
        display: inline-block;
        clear: both;

        background-color: var(--secondary-content-color);
        height: 4px;
        width: 3.2rem;
        border-radius: 2rem;

        position: absolute;
        left: 0;

        transition: all 0.2s ease-in-out;
      }
      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }
  }

  .hamburger-bg {
    display: none;
  }

  .nav-content {
    width: 82%;
    .nav {
      &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 4.2rem;
      }
      &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 2.4rem;
        &--iconic {
          column-gap: 1.2rem;
        }
      }
      &__item {
      }
      &__link {
        &:link,
        &:visited {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          column-gap: 8px;
        }
        &:hover,
        &:active {
          .nav__icon,
          .nav__text {
            color: var(--secondary-content-color);
          }
        }
      }
      &__icon,
      &__text {
        color: var(--primary-content-color);

        transition: all 0.2s ease-in-out;
      }
      &__icon {
        font-size: 1.4rem;
        width: 2.8rem;
        height: 2.8rem;
        background-color: var(--tertiary-bg-color);
        border-radius: 5rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &--enlarge {
          font-size: 1.6rem;
          width: 3.6rem;
          height: 3.6rem;
        }
      }
      &__text {
        font-size: 1.6rem;
        font-family: 'Plus Jakarta Sans 600', sans-serif;
        font-weight: 600;
        &--noneed {
          display: none;
        }
      }
    }
  }
}

.social {
  display: none;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
  }
  &__item {
  }
  &__link {
    &:link,
    &:visited {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: 8px;
    }
    &:hover,
    &:active {
    }
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.2rem;
    background-color: var(--tertiary-bg-color);
    color: var(--primary-content-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
  }
  &__text {
    font-family: 'Plus Jakarta Sans 600', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--primary-content-color);
  }
}

.user {
  &__avatar {
    width: 4.2rem;
    height: 4.2rem;
    background-color: var(--tertiary-bg-color);
    border-radius: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
  &__icon {
    font-size: 2rem;
    color: var(--secondary-content-color);
  }
}

@media (max-width: 80em) {
  // 1280px / 16px = 80
  .navbar {
    .hamburger-checkbox {
      &:checked ~ .hamburger-label .hamburger-content::before {
        transform: rotate(-45deg);
        top: 0;
      }
      &:checked ~ .hamburger-label .hamburger-content::after {
        transform: rotate(45deg);
        top: 0;
      }
      &:checked ~ .nav-content {
        margin-left: 0;
      }
    }
    .hamburger-label {
      display: block !important;
      width: max-content;
      margin-right: 1.2rem;
    }

    .nav-content {
      position: relative;
      .hamburger-bg {
        display: inline-block;

        position: absolute;
        top: 1.6rem;
        right: 1.6rem;

        background-color: var(--primary-bg-color);
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;

        cursor: pointer;

        .hamburger-close {
          width: 100%;
          height: 100%;
          display: inline-block;
          &::before,
          &::after {
            content: '';
            display: inline-block;
            clear: both;

            background-color: var(--pure-white-color);
            height: 4px;
            width: 2rem;
            border-radius: 2rem;

            position: absolute;
            top: 1.4rem;
            left: 6px;
          }

          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(45deg);
          }
        }
      }
    }

    .brand {
      width: 100%;
    }

    .nav-content {
      width: max-content;

      margin-left: -42rem;
      padding: 0 7.6rem;

      position: absolute;
      top: 0;
      left: 0;

      height: 100vh;
      background-color: var(--secondary-bg-color);
      box-shadow: 0 4px 1.2rem 0 var(--primary-bg-color);

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: 3.2rem;
      .brand--offcanvas,
      .social {
        display: block;
      }
      .nav {
        &__wrapper {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          row-gap: 2rem;
        }
        &__list {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          row-gap: 2rem;
        }
        &__item {
        }
        &__link {
          &:link,
          &:visited {
            column-gap: 1.2rem;
          }
          &:hover,
          &:active {
          }
        }
        &__icon {
          &--enlarge {
            font-size: 1.4rem;
            width: 2.8rem;
            height: 2.8rem;
          }
        }
        &__text {
          &--noneed {
            display: inline-block;
          }
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: var(--tertiary-border-color);
      }
    }
  }
}

@media (max-width: 34em) {
  // 544px / 16px = 34
  .navbar {
    .brand__logo {
      width: 8rem;
    }
  }
}

@media (max-width: 21em) {
  // 336px / 16px = 21
  .navbar {
    .nav-content {
      width: 100%;
    }
  }
}
