.hero {
  &__slide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    &--1 {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 4.6rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 2rem;
  }
  &__heading {
  }
  &__subtitle {
    font-size: 1.4rem;
    font-family: 'Plus Jakarta Sans 400';
    font-weight: 400;
    color: var(--secondary-content-color);
    background-color: var(--tertiary-bg-color);
    width: max-content;
    padding: 4px;
    border-radius: 4px;
  }
  &__title {
    font-size: 4.8rem;
    line-height: 1.2;
    font-family: 'Plus Jakarta Sans 800';
    color: var(--secondary-content-color);
    font-weight: 800;
  }
  &__details {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Plus Jakarta Sans 400';
    color: var(--primary-content-color);
    font-weight: 400;
  }
  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2.4rem;
  }
  &__btn {
    &:link,
    &:visited {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 1.2rem;

      cursor: pointer;
      transition: all 0.2s ease-in-out;

      .hero__text,
      .hero__icon {
        font-size: 1.6rem;
        color: var(--black-color);
        transition: all 0.2s ease-in-out;
      }

      .hero__text {
        font-family: 'Plus Jakarta Sans 700';
        font-weight: 700;
      }
    }

    &--course {
      &:link,
      &:visited {
        background-color: var(--pure-white-color);
        padding: 1.2rem 2.4rem;
        border-radius: 12rem;
        .hero__text,
        .hero__icon {
          color: var(--black-color);
        }
        .hero__icon {
          transform: rotate(-45deg);
        }
      }

      &:hover,
      &:active {
        .hero__icon {
          transform: rotate(0);
        }
      }
    }

    &--register {
      &:link,
      &:visited {
        .hero__text,
        .hero__icon {
          color: var(--primary-color);
        }
        .hero__text {
          text-decoration: underline;
        }
      }

      &:hover,
      &:active {
        .hero__icon {
          transform: translateX(5px);
        }
      }
    }

    //   &:hover,
    //   &:active {
    //     .hero__icon {
    //       transform: rotate(0);
    //     }
    //   }
    // }
    // &--register {
    //   &:link,
    //   &:visited {
    //     background-color: var(--transparent-color);
    //     transition: all 0.2s ease-in-out;
    //     .hero__text {
    //       text-decoration: underline;
    //     }
    //     .hero__text,
    //     .hero__icon {
    //       color: var(--pure-white-color);
    //       transition: all 0.2s ease-in-out;
    //     }
    //   }
    //   &:hover,
    //   &:active {
    //     .hero__icon {
    //       transform: translateX(5px);
    //     }
    //   }
    // }
  }
  &__text {
    // font-size: 1.6rem;
    // font-family: 'Plus Jakarta Sans 800';
    // font-weight: 800;
  }
  &__icon {
  }

  &__counter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3.2rem;
  }
  &__counter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 4px;
  }
  &__counter-number {
    font-size: 3.8rem;
    font-family: 'Plus Jakarta Sans 800';
    font-weight: 800;
    color: var(--pure-white-color);
  }
  &__counter-text {
    font-size: 1.6rem;
    font-family: 'Plus Jakarta Sans 600';
    font-weight: 600;
    color: var(--pure-white-color);
  }
  &__photo {
  }
  &__img {
    width: 162rem;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3.2rem;

    transform: translate(14.6rem) rotate(90deg);
  }
  &__social-title {
    width: max-content;
    font-size: 1.6rem;
    color: var(--primary-content-color);
    font-family: 'Plus Jakarta Sans 600';
    font-weight: 600;
    text-transform: uppercase;
  }
  &__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.2rem;
  }
  &__social-item {
  }
  &__social-link {
    &:link,
    &:visited {
    }
    &:hover,
    &:active {
      .hero__social-icon {
        color: var(--secondary-content-color);
      }
    }
  }
  &__social-icon {
    color: var(--primary-content-color);
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;

    transform: rotate(-90deg);
  }
  &__line {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      clear: both;

      height: 3px;
      width: 8.2rem;
      border-radius: 6.2rem;
      background-color: var(--primary-content-color);
    }
    &::after {
      content: '';
      display: inline-block;
      clear: both;

      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      background-color: var(--primary-content-color);
    }

    &::after {
      position: absolute;
      top: -5px;
      right: -4px;
    }
  }
}

.navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.2rem;
  }
  &__item {
    width: 4.2rem;
    height: 4.2rem;
    background-color: var(--secondary-bg-color);
    border-radius: 50%;
    border: 2px solid var(--tertiary-bg-color);
    outline: none;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
      .navi__icon {
        &--left,
        &--right {
          color: var(--pure-white-color);
        }
      }
    }
  }
  &__icon {
    &--left,
    &--right {
      font-size: 2.4rem;
      color: var(--primary-content-color);

      transition: all 0.2s ease-in-out;
    }

    &--play {
      display: none;
    }

    &--play,
    &--pause {
      font-size: 1.6rem;
    }
  }
  &__wrapper {
  }
}

@media (max-width: 96em) {
  // 1536px / 16px = 96

  .hero {
    &__photo {
      display: none;
    }
  }
}

@media (max-width: 62em) {
  // 992px / 16px = 62

  .hero {
    &__title {
      font-size: 3.8rem;
    }
    &__counter-number {
      font-size: 3.2rem;
    }
    &__social {
      display: none;
    }
  }
}

@media (max-width: 36em) {
  // 576px / 16px = 36
  .hero {
    &__subtitle {
      font-size: 1.2rem;
    }
    &__title {
      font-size: 2.8rem;
    }
    &__btns {
      flex-direction: column;
      row-gap: 2.4rem;
      align-items: flex-start;
    }
    &__counter-text {
      font-size: 1.4rem;
    }
    &__counter-number {
      font-size: 2.4rem;
    }
  }
}
